*{
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    padding: 0px;
}
.CoverPage{
    background-image: url(img/background.jpg);
    width: 1366px;
    height: 550px;
}
.navbar {
    display: flex;
    margin-left: 5%;
    height: 20%;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    
}
.navbarlogo img {
    width: 150px;
    height: 100px;
}
.navbarmenu {
    width: 50%;
    margin-left: 60px;
    color: white;
}
.navbarmenu ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    cursor: pointer;
    
}
.navbarmenu li:hover{
    color: #DA6C36;
}
.navicon{
    width: 70px;
    cursor: pointer;
}
.navbutton{
    width: 10%;
    cursor: pointer;
    
}
.navbutton button {
    color: #DA6C36;
    padding: 5px;
    border-radius: 50px;
    border: none;
}
.navbutton button:hover{
    color: white;
    background-color: #DA6C36;
}
.hero {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
}
.leftimg img{
    width: 300px;
    height: 300px;
}
.centerimg {
    text-align: center;
}
.centerimg img{
    width: 200px;
    height: 150;
}
.rightimg img{
    width: 300px;
    height: 300px;
}
.centerimg button {
    margin-top: 10%;
    font-size: 20px;
    display: block;
    color: #02052a;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
}
.centerimg button:hover{
    background-color: #DA6C36;
    color: white;

}
.wtfAzuri{
    width: 1366px;
    height: 500px;
    background: url(img/background2.png);
}
.intro{
    width: 100%;
    height: 100%;
}
.heading{
    width: 100%;
    height: 10%;
    font-size: 50px;
    font-weight: bolder;
    font-style: italic;
    color: #DA6C36;
    text-align: center;
    padding-top: 50px;
}
.paragraph{
    width: 30%;
    color: white;
    height: 50%;
}
.paragraph p{
    font-size: 24px;
}
.intro {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
.rarity_container{
    background: #2F559D 0% 0% no-repeat padding-box;
    width: 102%;
    margin: 0 auto;
    padding: 100px 0;
}
.main_sec{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    max-width: 1161px;
    margin: 0 auto;
    margin-top: 80px;

}
.rarity_wrapper{
    width: 64%;
}

.rarity_wrapper h2 , .traits h2 {
    text-align: left;
    font: normal normal 900 58px/73px Fidel;
    letter-spacing: 0px;
    color: #FFFFFF;
}


.traits{
    width: 36%;
}
.rarity_wrapper p {
    line-height: 40px;

}
.traits p {
 display: flex;
 justify-content: space-between;
 width: 100%;
 line-height: 40px;
}
.blue_col{
    font-weight: normal !important;
    font-family: Fidel;
    font-size: 36px;
    letter-spacing: 0px;
    color: #DA6C36;
}
.white_col{
    font-weight: normal;
    font-family: Fidel;
    font-size: 37px;
    letter-spacing: 0px;
    color: #FFFFFF;
    padding-left: 10px;
}
.roadmap_container{
    padding-bottom: 100px;
    padding-top: 100px;
    background: transparent url('../../assets//images/bg3-min.png') 0% 0% no-repeat padding-box;
    width: 100%;
    background-color: darkgoldenrod;
    background-repeat: no-repeat;
    background-size: cover;
}
.sub_roadmap_container{
    background: #6CB1ED 0% 0% no-repeat padding-box;
    width: 95%;
    max-width: 1161px;
    margin: 0 auto;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
}
.mainhead h1{
    color: #FCE956;
}
.watch_container{
    margin-top: 50px;
    background-color: #FCE956;
    display: flex;
    padding: 0px 20px;
}
.watch_container .watch_wrapper{
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec_head h2{
    text-align: left;
    font-weight: normal;
    font-size: 48px;
    font-family: Fidel;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    padding-left: 10px;

}
.sec_head p{
    padding-left: 10px;
    text-align: left;
    /* font: normal normal medium 22px/34px Roboto; */
    font-weight: bold;
    font-size: 22px;
    font-family: Roboto;
    letter-spacing: 0px;
    color: #0D0D0D;
    opacity: 1;
    font-size: 22px;
}
.roadmap_steps_wrapper{
    margin-top: 100px;
}

.step_container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 50px;
}

.road_num{
    border: 3px solid #000000;
    opacity: 1;
    width: 186px !important;
    height: 108px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center ;
}
.road_num h1{
    margin: 0;
    font-family: Fidel;
    font-weight: 900;
    font-size: 50px;
}
.road_p{
    width: 100%;
    text-align: left;
    padding-left: 20px;
    /* font: normal normal medium 28px/43px Roboto; */
    font-weight: 500;
    font-family: Roboto;
    font-size: 28px;
    letter-spacing: 0px;
    color: #030303;
    opacity: 1;
    font-size: 28px;
    margin: 0;
}
.road_p p{
  margin: 0;
}






